/* --------------- header ----------------- */
.dropdown{
    border: none;
    color: white;
    cursor: pointer;
}
.isAuth{
    color: white;
}
.isAuth:hover{
    color: #4481eb;
}
#top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 30px;
    background-color: #0f0f0f;
}

#top-left{
    margin: 6px 0 0 10px;
}

#top-left ul li {
    float: left;
    margin-right: 8px;
}

#top-left ul li a {
    color: #ebebeb;
}

#top-left ul li a:hover {
    color: #4481eb;
}

#top-right{
    margin: 6px 10px 0 0px;
}

#top-right ul li {
    font-size: 13px;
    float: left;
    margin-right: 8px;
}

#top-right ul li a {
    color: black;
}

#top-right ul li a:hover {
    color: #4481eb;
}

/* End top header */

/* ************************ Header Bottom ******************** */

.main_menu_inner {
    min-width: 100%;
    overflow: hidden;
    background-color:white;
    z-index: 99;
    height: 60px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #c5d9fc;
    -moz-box-shadow: 2px 2px 2px 2px #c5d9fc;
    -webkit-box-shadow: 2px 2px 2px 2px #c5d9fc;
    -o-box-shadow: 2px 2px 2px 2px #c5d9fc;
    -ms-box-shadow: 2px 2px 2px 2px #c5d9fc;
}

.main_menu nav>ul>li {
    display: inline-block;
    position: relative;
    margin-top: -5px;
}


.main_menu nav>ul>li:hover>a {
    color: #4481eb;
}

.main_menu nav>ul>li.active>a {
    color: #4481eb;
}

.main_menu nav>ul>li:first-child a {
    padding-left: 0;
}

.main_menu nav>ul>li:last-child a {
    padding-right: 0;
}

.main_menu nav>ul>li ul.sub_menu {
    position: absolute;
    min-width: 200px;
    padding: 30px 25px;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav>ul>li ul.sub_menu>li>a {
    font-size: 15px;
}

.main_menu nav ul li:hover .sub_menu,
.main_menu nav ul li:hover .mega_menu {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

.main_menu nav ul li ul li.active a,
.main_menu nav ul li ul li a:hover {
    color: #c09578;
}

.main_menu nav>ul>li>ul>li>a {
    color: #808080;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}

.main_menu nav>ul>li>ul.sub_menu>li:last-child>a {
    margin-bottom: 0;
}

.main_menu nav>ul>li>ul.mega_menu li ul li:last-child a {
    margin-bottom: 0;
}

.main_menu nav ul li ul.mega_menu {
    position: absolute;
    min-width: 580px;
    padding: 30px 25px 35px;
    border: 1px solid #ebebeb;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0 0 0;
    left: 0;
    right: auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 9;
    top: 100%;
    text-align: left;
}

.main_menu nav>ul>li>ul.mega_menu>li {
    width: 33%;
    float: left;
}

.main_menu nav>ul>li>ul.mega_menu>li>a {
    text-transform: uppercase;
    color: #242424;
    font-weight: 500;
    margin-bottom: 30px;
}

.main_menu nav>ul>li>ul.maga_menu>li>a:hover {
    color: #c09578;
}

.main_menu nav>ul>li>ul.maga_menu li ul li a {
    color: #808080;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 11px;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
}

.main_menu nav>ul>li>ul.maga_menu li ul li a:hover {
    color: #c09578;
}

.main_menu nav ul li ul.sub_menu.pages {
    left: inherit;
    right: inherit;
}

.header_black .main_menu nav>ul>li.active>a {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li:hover>a {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li>a {
    color: black;
    font-family: serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 18px;
}

.header_black .main_menu nav>ul>li ul.sub_menu {
    background: #242424;
    border: 1px solid #2d2d2d;
}

.header_black .main_menu nav>ul>li ul.sub_menu li a {
    color: black;
    font-family: serif;
}

.header_black .main_menu nav>ul>li ul.sub_menu li a:hover {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li ul.mega_menu {
    background: #242424;
    border: 1px solid #2d2d2d;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li>a {
    color: black;
    font-family: serif;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li>a:hover {
    color: #4481eb;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li ul li a {
    color: black;
}

.header_black .main_menu nav>ul>li ul.mega_menu>li ul li a:hover {
    color: #4481eb;
}

.ion-chevron-down {
    font-size: 14px;
    padding-left: 3px;
}

.main_menu nav>ul>li>a {
    display: block;
    padding: 19px 20px;
    color: #212121;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 500;
}
.contact_icone i {
    margin-bottom: -30px;
    font-size: 30px;
}

.wishlist_btn {
    margin-left: 18px;
}

.wishlist_btn a {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 55px;
    color: #212121;
    font-size: 20px;
    display: block;
}

.wishlist_btn a:hover {
    color: #4481eb;
}


/*End Bottom HEader*/