
/* ----------------- Footer --------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 43px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: lightblue;
    cursor: pointer;
}

#myBtn:hover {
  color: #4481eb;
}
footer.footer {
    margin-top: 100px;
    background: black;
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
    background: black;
}

footer.footer .container h2 {
    color: white;
    margin-left: -180px;
}

footer.footer .newsletter .form-element {
    background: black;
    display: inline-block;
    text-align: center;
}

footer.footer .newsletter .form-element input {
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
    text-align: center;
}

footer.footer .newsletter .form-element span {
    background: lightblue;
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i {
    color: lightblue;
    padding: 0 .4rem;
}

footer.footer .rights {
    justify-content: center;
}

footer.footer .rights h4 a {
    color: lightblue
}

footer.footer .move-up {
    position: absolute;
    right: 5%;
    top: 200px;
}

footer.footer .move-up span {
    color: lightblue;
}

footer.footer .move-up span:hover {
    color: white;
    cursor: pointer;
}


/* ---------x------- Footer ----------x---------- */