a {
  text-decoration: none;
}
.oderscreen {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.oderscreen > div {
  margin-top: 1rem;
}
.oderscreen h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0rem 1rem 1rem;
}

.oderscreen__navItem .nav-tabs {
  border-bottom: 1px solid #332e2e !important;
}
.oderscreen__navItem .active {
  border-bottom: 4px solid #012029 !important;
  color: #012029;
}
.tab-content > .active {
  background-color: white !important;
}
.oderscreen__navItem .nav-link {
  color: black;
  text-align: center;
  width: 120px;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.oderscreen__tab1 {
  border-bottom: 1px solid #5a5555;
}
.oderscreen__tab1__info {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.oderscreen__tab1__info span p {
  margin-left: 0.5rem;
}

.oderscreen__tab1__info__right {
  margin-right: 1rem;
  justify-self: end;
}
.oderscreen__tab1__info__right p {
  text-align: right;
}
