.product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
a {
  text-decoration: none;
}

.product__item {
  background-color:white;
  border-radius: 10px;
  width: 270px;
  padding: 2rem;
  margin: 12px;
}

.product__item > img {
  width: 100%;
  height: 170px;
  object-fit: contain;
  border-radius: 8x;
  margin-bottom: 10px;
}

.product__info{
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__info > p {
  margin-bottom: 8px;
}

.info__price {
  font-weight: bold;
}

.info__name {
  font-size: 1rem;
  height: 50px;
}

.info__description {
  font-size: 0.8rem;
}


.info__button {
	border-radius: 5px;
  width: 80px;
	border: 1px solid #4481eb;
  background-color: #FFFFFF;
	color: #4481eb;
	margin-top: 20px;
	padding: 3px;
  text-align: center;
	letter-spacing: 1px;
	transition: all 80ms ease-in;
	cursor: pointer;
  text-decoration: none;
}

.info__button:hover{
	background-color: #4481eb;
	color: #FFFFFF;
}


@media (max-width: 1232px) {
  .product {
    width: 360px;
  }
}

@media (max-width: 1115px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 1028px) {
  .product {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .product {
    width: 400px;
  }
}

@media (max-width: 830px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 700px) {
  .product {
    width: 290px;
  }
}

@media (max-width: 630px) {
  .product {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .product {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .product {
    width: 300px;
  }
}
