.pagination{
    position: relative;
    max-width: 1200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 40px;
}

.pagination .pagination_item{
    padding: 8px;
    line-height: 40px;
    cursor: pointer;
}

.pagination .pagination_item:hover{
    color: #4481eb;
}

.pagination #active{
    color: #4481eb;
}

.pagination .pagination_item button {
	border-radius: 5px;
	border: 1px solid #4481eb;
	background-color: #4481eb;
	color: #FFFFFF;
	padding: 5px;
	letter-spacing: 1px;
	transition: all 80ms ease-in;
	cursor: pointer;
    width: 50px;
    height: auto;
    outline: none;
}

.pagination .pagination_item button:hover {
	background-color: #5995fd;
	border: 1px solid#5995fd;
}

