a{
	text-decoration:none;
}
.cartscreen {
  display: flex;
  max-width: 900px;
  margin: auto;
  margin-top: 4rem !important;
}

.cartscreen h2 {
  margin-bottom: 1rem;
}
.cartscreen__middle {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 1.4rem;
}

.cartscreen__middle__Name__Phone {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cartscreen__middle__Name__Phone Input {
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
}
.cartscreen__middle__Name__Phone .form-group:first-child {
  margin-right: 0.5rem;
}
.cartscreen__middle__Name__Phone .form-group:last-child {
  margin-left: 0.5rem;
}
.cartscreen__middle__Name__Phone Input:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.cartscreen__middle__Address {
  margin-top: 1rem;
}
.cartscreen__middle__Address Input {
  border: 1px solid black;
  width: 100%;
  padding: 1rem;
}
.cartscreen__middle__Address Input:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.cartscreen__middle__dateOrder {
  padding: 1rem 1rem 1rem 0rem;
}

.cartscreen__right {
  line-height: 3rem;
  display: block;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cartscreen__right__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cartscreen__right div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.cartscreen__right div p {
  text-align: center;
}
.cartscreen__right div button {
  border-radius: 5px;
  padding: 10px 17px;
  width: 100%;
  background-image: linear-gradient(rgb(224, 123, 123), red);
  border: none;
  color: #f4f4f4;
  cursor: pointer;
  line-height: 2rem;
  opacity: 0.8;
}

.cartscreen__right__info p {
  padding: 8px;
  display: inline;
}
.cartscreen__right__info p:first-child {
  font-weight: bold;
  justify-self: start;
}
.cartscreen__right__info p:last-child {
  justify-self: end;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__right div button:hover {
  opacity: 0.9;
  background-image: linear-gradient(red, rgb(224, 123, 123));
}

.cartscreen__right__checkout{
  background-color: wheat;
  border: 1px solid #4481eb;
  color: #4481eb;
  transition: .5s all;
}

.cartscreen__right__checkout:hover{
  background-color: #4481eb;
  color: white;
}

@media (max-width: 1320px) {
  .cartscreen {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    max-width: 800px;
  }
}

@media (max-width: 960px) {
  .cartscreen {
    flex-direction: column;
  }

  .cartscreen__right {
    margin: 1rem;
  }
}
